.item_wrap_max {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
}

.item_menu_max {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 60vh;
  background-color: white;
  border-radius: 20px;
}

.max_data_max {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
  column-gap: 5%;
  justify-content: center;
}

.labels_max {
  font-size: 2vw;
}

.activity_max {
  font-size: 1.5vw;
  padding: 15px;
  border-radius: 15px;
  margin: 25px 0;
  border: 1px solid black;
}

.gender_max {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.4vw;
  gap: 15%;
  width: 100%;
  margin: 20px 0 50px 0;
}

.input_max {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 10vw;
  margin-bottom: 40px;
  border: 1px solid black;
  font-size: 1.4vw;
  padding: 5px;
  border-radius: 50px;
}

.buttons_max {
  display: flex;
  flex-direction: row;
  gap: 20%;
}
.but_max:hover {
  transition: 0.5s;
  background: rgb(154, 255, 172);
}

.but_max {
  transition: 0.5s;
  font-size: 2vw;
  padding: 5px 10px;
  border-radius: 15px;
  background: rgb(107, 207, 253);
}
